:root {
    --bg: #32384c;
    --accent: #3e5564;
    --light: #92abbb;
    --bright: #4ea8ea;
}
* {
    font-family: monospace;
}
body {
    background: var(--bg);
    color:white;
    max-width: 1200px;
    margin: 1rem 8vw;
    font-size: 14px;
}
button {
    background-color: var(--light);
    margin-right: 0.25rem;
    cursor: pointer;
}
h1 {
    margin: 1rem 0;
    background: var(--accent);
    padding: 0.5rem;
}
a {
    color: var(--bright);
}
a:hover {
    color: var(--light);
}
.listing-item hr {
    background-image: linear-gradient(to right, var(--light) , var(--bg));
    height: 1px;
    border: 0;
}
#resultsCount {
    /* padding-left: 2.2rem; */
    width: 100%;
    text-align: center;
}
.tic-icon {
    height:1.75rem;
}
.top-btn {
    color: var(--bright);
    cursor: pointer;
}
.listing-item {
    background: var(--accent);
    background-image: linear-gradient(to right, var(--accent) , var(--bg));
    padding: 1rem;
    margin-bottom: 1rem;
    min-height: 8.5rem;
}
.cover-img {
    width: 200px;
    min-width: 200px;
    height: 113px;
    background: var(--bright);
    float: left;
    margin-right: 1rem;
}
.listing-title {
    font-size: 1.5rem;
    font-weight: bolder;
}
.listing-info {
    color: var(--light);
}
.listing-desc {
    font-style: italic;
    overflow-y: auto;
    height: 2.5rem;
}
@media only screen and (max-width: 600px) {
    body {
        margin: 1rem 2vw;
    }
}